@page
@model StonePizza.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
    <head>

        @*<link href="~/Styling/HomePage.css" rel="stylesheet" />*@
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <style>
            body {
                background-color: dodgerblue !important;
                margin-top: 100px;
            }

            .table {
                background-color: whitesmoke !important;
            }
            #signaturePizzaTable {
                margin-bottom: 50px;
            }
            #sideDishTable {
                margin-bottom: 50px;
            }
            #beverageTable {
                margin-bottom: 100px;
            }
            .carousel {
                height: auto !important;
                width: auto !important;
            }
            #carouselImage {
                margin: 30px !important;
                margin-right: 0px !important;
            }

            #myCarousel {
                margin-bottom: 50px !important;
                height: 250px !important;
            }
        </style>

    </head>


<h1>Stone Pizza Menu</h1>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        @foreach (var item in Model.SignaturePizzas)
        {
            <li data-target="#myCarousel" data-slide-to="@item.PizzaId"></li>
        }
        @*<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>*@
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        <div class="item active">
            <img id="carouselImage" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSR2vFUqAkLsSDgHyxjG0IOMrivEoL2EbnmVvhAF3JqBtIxfiZs" />
            <div class="carousel-caption d-none d-md-block">

                <h1 class="carouselText"> Stone's Signature Pizzas</h1>
            </div>
        </div>


        @foreach (var item in Model.SignaturePizzas)
        {
            <div class="item">
                <img id="carouselImage" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSR2vFUqAkLsSDgHyxjG0IOMrivEoL2EbnmVvhAF3JqBtIxfiZs" />
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="carouselText">@item.ItemName</h2>
                    <h3 class="carouselText">@item.PizzaDescription</h3>
                </div>
            </div>
        }

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<h1>
    Signature Pizzas
</h1>

<table id="signaturePizzaTable" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SignaturePizzas[0].ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignaturePizzas[0].PizzaDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignaturePizzas[0].Toppings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignaturePizzas[0].ItemPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignaturePizzas[0].PizzaSauce)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignaturePizzas[0].PizzaCrust)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignaturePizzas[0].PizzaCheese)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.SignaturePizzas)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ItemName)
    </td>
    <td>
        @Html.DisplayName(item.PizzaDescription)
    </td>
    <td>
        @Html.DisplayName(item.GetToppings())
    </td>
    <td>
        $@Html.DisplayFor(modelItem => item.ItemPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PizzaSauce)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PizzaCrust)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PizzaCheese)
    </td>

</tr>
    }

</table>


<h1>
    Side Dishes
</h1>
<table id="sideDishTable" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SideDishes[0].ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SideDishes[0].SideDishDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SideDishes[0].ItemPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SideDishes[0].Category)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model.SideDishes)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SideDishDescription)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.ItemPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>


        </tr>
    }

</table>


<h1>
    Beverages
</h1>
<table id="beverageTable" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Beverages[0].ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beverages[0].BeverageDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beverages[0].ItemPrice)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model.Beverages)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeverageDescription)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.ItemPrice)
            </td>


        </tr>
    }

</table>